<!DOCTYPE html>
<html lang="en">
<head >

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title%}
        {% endblock %}
    </title>
    <base href="/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" />

    {% block css%}
    {% endblock %}
</head>

<body>
    <!--导航栏-->
    <nav class="navbar navbar-default" role="navigation" >
        <div class="container-fluid" style="margin-left: 1em; margin-right: 1em;">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">课程推荐系统</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li id="all-courses"><a href="{% url 'index' %}">所有课程</a></li>
                    <li id="favorite-courses"><a href="{% url 'favor' %}">收藏课程</a></li>
                    <li id="recommended-courses"><a href="{% url 'recommend' %}">推荐课程</a></li>
                </ul>

                <form class="navbar-form navbar-right" role="search" method="get" action="{% url 'search' %}">
                    <div class="form-group">
                        <input class="form-control mr-sm-2" type="search" placeholder="搜索课程" aria-label="Search" name="query"></div>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">个人信息</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'logout' %}">退出</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="{% url 'login' %}">登录</a></li>
                    <li><a href="{% url 'register' %}">注册</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!--主体内容-->
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>


    <!--底部-->
    <footer class="navbar-fixed-bottom"  style="height:2.7em; text-align: center;background-color: #f8f8f8; line-height:2.7em">
        <div class="container">
            <p class="text-muted" style="color: #777">版权所有 &copy; 2023 课程推荐系统</p>
        </div>
    </footer>


</body>
</html>